html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    height: 80%;
    border-radius: 10%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 174, 239);
}

#date{
    width: 70%;
    font-size: large;
}
#container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    width: 30%;
}
select{
    display: none;
}
/* Login css */
*{
    margin: 0;
    padding: 0;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
html, body{
    height: 100%;
    background: rgb(9, 7, 51);
    background: linear-gradient(
      60deg,
      rgba(0, 55, 103, 1) 17%,
      
      rgba(0, 81, 151, 1) 100%
      
    );
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#logindiv{
    background-color: rgb(0, 174, 239);
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 10%;
    border-radius: 25px;
    width: 80%;
    align-self: center;
}

.toprow{
    background-color: rgb(0, 174, 239);
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}

.bottomrow{
    background-color: rgb(0, 174, 239);
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff;
    font-size: 20px;
}

.logininput{
    margin: 3%;
    align-self: center;
    height: 20%;
    width: 90%;
    border-radius: 10px;
    border: none;
    font-size: 25px;

}

.loginbutton{
    margin: 3%;
    align-self: center;
    height: 20%;
    width: 70%;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 55, 103);
    color: white;
    font-size: 25px;
}

.khlogo{
    width:30%;
    align-self: center;
    /* background-color: rgba(228, 241, 253, 0.15); */
    border-radius: 5%;
}

.forgetpassword{
    align-self: center;
}


/* keres.html, atad.html */
/* CALENDAR */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.parkreq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin: 4%;
    border-radius: 20px;
    padding: 5%;
    background: rgb(0, 174, 239);
}
body.maincalendar{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  align-self: center;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: rgb(0, 174, 239);
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.calendarbutton{
    height: 10%;
    width: 60%;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 55, 103);
    color: white;
    font-size: 25px;
    margin: 5%;
}
.atadbtdiv{
    display: flex;
}
.atadbtdiv .calendarbutton{
    height: 80%
}

.toprow .khlogo{
    height: 100%;
    width: auto;
}